{
  "**/*.{js,ts,tsx}": [
    "prettier --cache --write",
    "pnpm lint:license:staged"
  ],
  "packages/**/*.{js,ts,tsx}": ["eslint"],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "pnpm lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}
